/* Mixin */
@mixin translateX($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}

@mixin transition($transition) {
  transition:$transition;
  -webkit-transition:$transition;
  -moz-transition:$transition;
  -o-transition:$transition;
  -ms-transition:$transition;
}

@mixin transform($transform) {
    -moz-transform:    ($transform);
    -o-transform:      ($transform);
    -webkit-transform: ($transform);
    -ms-transform:    ($transform);
    transform:         ($transform);
}

@mixin animation($animation) {
  -moz-animation: $animation;
  -webkit-animation: $animation;
  -ms-animation: 	$animation;
  animation: $animation;
}

@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}

@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@mixin width($exp) {
  width: $exp;
}
/*
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}*/

@mixin max-lines($lines: 3, $line-height: 1, $font-size: 1rem)
{
  min-height: calc(#{$font-size} * #{$lines} * (#{$line-height} + 0.06));
  max-height: calc(#{$font-size} * #{$lines} * (#{$line-height} + 0.06));
  font-size: $font-size;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-height: $line-height;
}


@mixin text-truncate($lines, $line-height, $font-size)
{
  min-height: calc(#{$font-size} * #{$lines} * #{$line-height});
  max-height: calc(#{$font-size} * #{$lines} * #{$line-height});
  font-size: $font-size;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-height: $line-height;
}
