.container-padding {
	padding: 1rem;
	// margin-top: 1rem;
	// margin-bottom: 1rem;
	max-width: 100%;
}

.text-borde-bottom {
	position: relative;
    padding-bottom: .8rem;
    margin-bottom: 1.2rem;
	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 60%;
		background-color: $secondary;
		height: 3px;
	}

	&#{&}--center:before {
		right: 0;
		margin: auto;
	}
}

.line-height {
	line-height: 1;
}

.mw-100 {
	max-width: 100%
}

.mh-100 {
	max-height: 100%
}

.square {
	position: relative;
	padding-bottom: 100%;
	&__content {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		img {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
		}
		&#{&}--padding {
			width: 90%;
			height: 90%;
    		right: 0;
    		bottom: 0;
    		margin: auto;
		}
	}
}

@media screen and (min-width: 768px) {
  .col-companys {
    width: 50%;
    max-width: 250px;
  }
  .col-document {
    width: 50%;
    max-width: 208px;
  }
  .col-years {
    max-width: 110px;
  }
  .col-months {
    max-width: 138px;
  }
}
.select-dropdown li,
.label-inner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn--padding {
  padding: .3rem .75rem;
}

// Comentario
.comentario-section_title {
  display: grid;
  align-items: center;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
}
.comentario .content {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 15px;
  align-items: center;
}
.badge.status-open:hover,
.badge.status-open {
  background: $green;
  color: #FFF;
}
.badge.status-acuse:hover,
.badge.status-acuse {
  background: $yellow;
  color: #FFF;
}
.badge.status-close:hover,
.badge.status-close {
  background: #333;
  color: #FFF;
}

.btn.status-open:hover,
.btn.status-open {
  background: $green;
  color: #FFF;
}
.btn.status-acuse:hover,
.btn.status-acuse {
  background: $yellow;
  color: #FFF;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 5px;
}
.btn.status-acuse::before {
  content: "\46";
  font-family: "oenergy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn.status-close:hover,
.btn.status-close {
  background: #333;
  color: #FFF;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 5px;
}
.btn.status-close::before {
  content: "\45";
  font-family: "oenergy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.progress {
  height: 6px;
  &-bar {
    background-color: #a0a0a0;
  }
}

.form-check.form-check--table {
    width: 60px;
    padding: 0;
}
.form-check.form-check--table.form-check-flat label .input-helper:before {
}
.form-check.form-check--table .input-helper:before {
    width: 100%;
    left: 0;
    margin: auto;
    text-align: center;
    height: 26px;
}
.form-check.form-check--table .input-helper:after {
    color: #dcd6d6 !important;
    right: 0;
    margin: auto;
    opacity: 1 !important
}
.form-check.form-check--table input:checked + .input-helper:after {
    color: #FFFFFF !important;
}
.dt-buttons.btn-group .btn { margin: 0px 2.5px; }
.opacity-5 {
    opacity: .5;
}
.title-grafic {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #adb5bd3b;
}
.title-grafic .btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 1rem;
    width: 31px;
    height: 30px;
    background-color: transparent;
    color: #adb5bd;
    border: 1px solid #adb5bd;
}
.page-wrapper #toggled-sidebar {font-size: 25px !important}
.page-wrapper.toggled #toggled-sidebar .fa {color: white; }
.page-wrapper.toggled #toggled-sidebar .fa-align-right {display: block;}
.page-wrapper #toggled-sidebar .fa-align-right {display: none;}

.page-wrapper.toggled #toggled-sidebar .fa-align-left {display: none;}
.page-wrapper #toggled-sidebar .fa-align-left {display: block;}