html,
body {
	height: 100%;
	font-size: 16px;
	@media screen and (max-width: 500px) {
		font-size: 14px;
	}
}

ul {
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 19px;
}

.h7 { font-size: 13px }