$usa-image-path: '../img/';

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

// Colors
$blue: #1B75BB;
$orange: #d76e14;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$yellow: #FF9800;
$green: #55a577;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: white;
$dark: #212529;
$black: #333;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":          $primary,
    "primary-hover":    darken($primary, 20),
    "secondary":        $secondary,
    "secondary-hover":  darken($secondary, 20),
    "success":          $success,
    "info":             $info,
    "warning":          $warning,
    "danger":           $danger,
    "light":            $light,
    "dark":             $dark
  ),
  $theme-colors
);

// Body
$body-bg: #e9ecef;

// Dropdowns
//
// Dropdown menu container and contents.
/*$dropdown-color:                    $white !default;
$dropdown-link-color:				$white !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $blue !default;
$dropdown-link-active-bg:           $blue !default;

$dropdown-bg:                       $dark !default;
$dropdown-border-color:             rgba($dark, .15) !default;
$dropdown-border-radius:            0 !default;*/

$dropdown-padding-y:                0rem !default;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Navbar
$nav-link-padding-y:                .782rem !default;
$nav-link-padding-x:                2.5rem !default;

$navbar-dark-color:                 rgba($white, .8);
$navbar-dark-hover-color:           rgba($white, 1);
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-padding-y:                  0 !default;

// Breadcrumbs
$breadcrumb-padding-y:              .4rem !default;
$breadcrumb-font-size:				.7rem !default;
$breadcrumb-bg:   					transparent !default;

// jumbotron
$jumbotron-padding:					1rem  !default;
$jumbotron-bg:						$white;



$navbar-default-color:                rgba($white, 1) !default;
$navbar-default-hover-color:          rgba($white, 1) !default;
$navbar-default-active-color:         rgba($white, 1) !default;
$navbar-default-disabled-color:       rgba($white, 1) !default;
$navbar-default-toggler-border-color: rgba($white, 1) !default;
$navbar-default-brand-bg: 			  $blue !default;

$navbar-default-brand-color:                $navbar-default-active-color !default;
$navbar-default-brand-hover-color:          $navbar-default-active-color !default;


$nav-divider-margin-y:				0px !default;
// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-spacer: 					0px;
$dropdown-border-radius:            0px !default;
$dropdown-border-width:             0px !default;
$dropdown-divider-margin-y:         $nav-divider-margin-y !default;
$navbar-default-active-shadow:		inset 0px -5px 1px -2px darken($blue, 10%);

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-font-size:                   1rem !default;
$alert-padding-y:                   .25rem !default;
$alert-padding-x:                   1.25rem !default;
$alert-margin-bottom:               1rem !default;
$alert-border-radius:               0px !default;
$alert-link-font-weight:            600 !default;
$alert-border-width:                0px !default;

$alert-bg-level:                    0 !default;
$alert-border-level:                0 !default;
$alert-color-level:                 9 !default;
