// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

@mixin alert-variant($background, $border, $color) {
  color: $white;
  @include gradient-bg($background);
  border-color: $border;
  font-size:    $alert-font-size;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: $white;
  }
}


@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
  }
}
