.dataTables_processing
{
	height: 100% !important;
	top: 0 !important;
	margin: 0 !important;
	left: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button
{
	padding: 0px !important;
	border: none !important;
	 margin-left: 0px !important; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button a
{
	height: 100% !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
{
	box-shadow: 0 0.125rem 0.9375rem rgba(90, 97, 105, 0.1), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.15);
}
table.dataTable.no-footer,
table.dataTable thead th, table.dataTable thead td
{
	border-bottom: 1px solid $blue !important;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}
div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

.dt-buttons.btn-group .btn {
	font-size: .8rem !important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 2px .8rem !important;
    text-transform: uppercase;
    font-size: .8rem !important;
}

.sorting_disabled {
	// width: 60px !important;
  // padding: 9px !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
	background-color: $primary !important
}
.dataTables_info {
	font-size: .7rem !important;
}

.page-link {
	padding: 0.2rem 0.35rem !important;
}

.table th, .table td {
	vertical-align: middle !important
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 3px 8px !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before 
{
	top: 7px !important;
    left: 27px !important;
    line-height: 13.9px !important; 
    padding-left: 1px;
}