.input-group.file-caption-main .btn{
position: inherit;
overflow: initial;
}
.input-group.file-caption-main .error {
width: 100%;
}
.file-w-100 {    
    .krajee-default.file-preview-frame{
        width: 98% !important;
    }
    .krajee-default .file-preview-text, .kv-file-content {
        width: 100% !important;
    }
    .file-thumbnail-footer {
        display: none !important;
    }

    .file-drop-zone.clickable:hover {
        border: 1px dashed #999 !important;
    }
}