.form-group {
    position: relative;
	margin-bottom: 0px;
	label {
	    font-size: .6rem;
	    margin-bottom: 0px;
	    text-transform: uppercase;
	}
}

.form-control:focus {
    box-shadow: none !important;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.form-check,
.form-radio {
    position: relative;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    .form-check-label input{
        position: absolute;
        margin-left: -20px;
        margin-top: 4px\9;
        top: 0;
        left: 0;
        z-index: 1;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        margin-top: 0;
    }
}

.form-check .form-check-label {
    font-size: .8rem;
    line-height: 1;
    padding-left: 10px;
    text-transform: initial;
    .input-helper:after {
        transition: all;
        transition-duration: 0s;
        transition-duration: 250ms;
        font: normal normal normal 14px/1 FontAwesome;
        opacity: 0;
        filter: alpha(opacity=0);
        transform: scale(0);
        content: "\f00c";
        position: absolute;
        font-size: 0.9375rem;
        font-weight: bold;
        top: 3px;
        left: 2px;
        -webkit-transform: translateY(-14%);
        transform: translateY(13%);
        color: #8862e0;
    }
}


.form-check.form-check-flat label .input-helper {
    &:before {
        border: 2px solid #f2f2f2;
    }
    &:after {
        color: #ffffff;
    }
}

.form-check.form-check-flat label input:checked + .input-helper:before {
    background-color: #1B75BB;
    border: none;
}

.form-check .form-check-label input:checked + .input-helper:before {
    background-color: #ffffff;
}
.form-check.form-check-flat label .input-helper:before {
    border: 2px solid #f2f2f2;
}
.form-check .form-check-label .input-helper:before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border-radius: 2px;
    left: 0;
    border: 2px solid #f2f2f2;
    transition: all;
    transition-duration: 0s;
    transition-duration: 250ms;
}
.form-check .form-check-label input:checked + .input-helper:after,
.form-check .form-check-label input:checked + .input-helper:before {
	opacity: 1;
}

.form-group {
    margin: .5rem 0px;
    div.error {
        position: absolute;
        font-size: .7rem;
        background: darken($red, 10);
        display: block;
        left: 0;
        right: 0;
        color: $white;
        margin: auto;
        padding: 0px .5rem;
        bottom: -10px;
        border-radius: 0px 0px 4px 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

$baseFontSize: 16;
$twitter: #2980b9;
@function rem($val) {
    @return #{$val / $baseFontSize}rem;
}

input[type="checkbox"] {
  position: relative;
  top: 2px;
  margin: 0 1rem 0 0 ;
  cursor: pointer;
  &:before {
    @include transition(transform .4s cubic-bezier(.45,1.8,.5,.75));
    @include transform(rotate(-45deg) scale(0, 0));
    content: "";
    position: absolute;
    left: rem(3);
    top: rem(2);
    z-index: 1;
    width: rem(12);
    height: rem(6);
    border: 3px solid $primary; 
    border-top-style: none;
    border-right-style: none;
  }
  
  &:checked {
    &:before {
       @include transform(rotate(-45deg) scale(1, 1));
    } 
  }
  
  &:after {
    content: "";
    position: absolute;
    top: rem(-2);
    left: 0;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border: 2px solid $gray-200;
    cursor: pointer;
  }
}

.tail-select {
    max-width: 100%;
    & + .error{
        //width: calc(100% - 10px) !important;
        //bottom: -8px !important;
    }
}
.button.loading {
    padding: 18.5px !important;
    &::after {
        width: 40px;
        left: 5px;
        top: 12px;
        border-radius: 100%;
    }
}
.spinner {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 8px;
    left: calc(50% - 17px);
    background: transparent;
    box-sizing: border-box;
    border-top: 4px solid white;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-radius: 100%;
    animation: spin 0.6s ease-out infinite;
}

@keyframes spin {
    100% {transform: rotate(360deg)}
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Loading Form */
form.loading {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        margin: auto;
        opacity: .7;
        z-index: 100;
    }
    .progress {
        display: flex !important;
        z-index: 100;
        position: relative;
    }
}

.form-control.error {
    border-color: $red;
    padding-right: calc(1.6em + 0.75rem);
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e3342f' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23e3342f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-position: center right calc(0.4em + 0.1875rem);
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.tail-select  { width: 100% !important }