.bg-primary-active{
    background-color: darken($primary, 10) !important;
}
.bg-secondary-active{
    background-color: darken($secondary, 10) !important;
}
.bg-warning-active{
    background-color: darken($warning, 10) !important;
}
.bg-danger-active{
    background-color: darken($danger, 10) !important;
}
/**lists**/
.list{
    padding-left:0px;
    padding-right: 0px;
    &.shadow-sm {
        box-shadow: 0 0.125rem 0.25rem rgba(51, 51, 51, 0.5) !important;
    }
    &.bg-warning {
        background: rgba(255,152,0,1);
        background: -moz-linear-gradient(left, rgba(255,152,0,1) 0%, rgba(204,122,0,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,152,0,1)), color-stop(100%, rgba(204,122,0,1)));
        background: -webkit-linear-gradient(left, rgba(255,152,0,1) 0%, rgba(204,122,0,1) 100%);
        background: -o-linear-gradient(left, rgba(255,152,0,1) 0%, rgba(204,122,0,1) 100%);
        background: -ms-linear-gradient(left, rgba(255,152,0,1) 0%, rgba(204,122,0,1) 100%);
        background: linear-gradient(to right, rgba(255,152,0,1) 0%, rgba(204,122,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9800', endColorstr='#cc7a00', GradientType=1 );
    }
    &.bg-success {
        background: rgba(35,130,75,1);
        background: -moz-linear-gradient(left, rgba(35,130,75,1) 0%, rgba(85,165,119,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(35,130,75,1)), color-stop(100%, rgba(85,165,119,1)));
        background: -webkit-linear-gradient(left, rgba(35,130,75,1) 0%, rgba(85,165,119,1) 100%);
        background: -o-linear-gradient(left, rgba(35,130,75,1) 0%, rgba(85,165,119,1) 100%);
        background: -ms-linear-gradient(left, rgba(35,130,75,1) 0%, rgba(85,165,119,1) 100%);
        background: linear-gradient(to right, rgba(35,130,75,1) 0%, rgba(85,165,119,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23824b', endColorstr='#55a577', GradientType=1 );
    }
    .list-item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: .65rem .5rem;
        position: relative;
        transition:all .3s;
        -webkit-transition:all .3s;
        a.list-link{
            position: absolute;
            left:0;
            top:0;
            right: 0;
            bottom: 0;
            width:100%;
            height: 100%;
            display: block;
            margin:0px;  
            z-index: 2;
        }
        .list-thumb{
            position: relative;
            line-height: 1;
            white-space: nowrap;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center;
            overflow: hidden;
            width: 40px;
            height: 40px;
        }
        .list-body {
            -ms-flex: 1;
            flex: 1;
            position:relative;
            >*:not(.btn){
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            .list-title{
                font-weight: 500;
                line-height: 1;
                text-transform: capitalize;
                color: #FFF;
                display: block;
            }
            .list-content{
                line-height: 1.3;
                color: #FFF;
                opacity: .8;
                display: block;
            }
        }
        >*{
            margin-left: .5rem;
            margin-right: .5rem;
        }
        .list-meta{
            display: block;
            font-size:.7rem;
            line-height: 1.8;
            opacity:.47;
            color:inherit;
        }
        &:last-child{
            .list-body:after{
                display: none;
            }
        }
        &.unread{
            background-color: rgba($light,.7);
            border-bottom:1px solid $light;
            border-top:1px solid $gray-100;
            .list-body{
                .list-title{
                    opacity: 1;
                }

            }
            &:hover{
                background-color: rgba($primary,1);
            }
        }
        &.small {
            .list-thumb {
                width: 24PX;
                height: 20PX;
                svg {
                    width: 10px;
                }
            }
        }
    }   
}
.list-alt{
    overflow:hidden;
    .list-item{
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: stretch;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        height:80px;
        .list-thumb{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 80px;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            background-color: rgba(0,0,0,0.1);
            font-size: 1rem;
            height:100%;
        }
        .list-body{
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            height:100%;
            padding-left:1rem;
            padding-right:1rem;
            .list-title{
                font-size: 1.8rem;
                line-height:1.1;
            }
            .list-content{
                opacity:.75;
                text-transform: capitalize;
            }
        }
    }
}
