nav.navbar {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  .progress {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
  }
  .dropdown-menu--down {
    position: absolute !important;
  }

  .dropdown-toggle {
    &::after {
      content: "\f107";
      font: normal normal normal 14px/1 FontAwesome;
      vertical-align: 0 !important;
        border-top: none !important;
        border-right: none !important;
        border-bottom: none !important;
        border-left: none !important;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        transition: 0.5s all;
    }
    &.dropdown-toggle--no-icon::after {
      content: none;
    }
    &[aria-expanded="true"] {
      &::after {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
      }
    }
  }
}
.nav-item-user-icon {
	height: 1rem;
	margin-top: -4px;
	margin-right: 2px;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  margin-right: 6px;
}

.navbar-dark {
	-webkit-box-shadow: 0px 0px 5px #3e444a;
	box-shadow: 0px 0px 5px #3e444a;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus{
	background-color: $blue
}

.navbar-toggler:focus,
.navbar-toggler {
    border-radius: 0;
    border: none;
    box-shadow: none !important;
}

.breadcrumb{
	font-size: $breadcrumb-font-size
}



// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  .dropdown-menu {
    @include box-shadow($dropdown-box-shadow);
    box-shadow: $dropdown-box-shadow;
  }
  .nav-link {
    /*@include hover-focus {*/
      /*box-shadow: $dropdown-box-shadow-hover;*/
      /*color: $navbar-dark-hover-color;*/
    /*}*/

    /*&.disabled {*/
      /*color: $navbar-dark-disabled-color;*/
    /*}*/
  }

  .show > .nav-link,
  .active > .nav-link,
  .nav-link.show,
  .nav-link.active {
    box-shadow: $navbar-default-active-shadow;
    /*background-color: darken($blue, 15);*/
  }
}

// Dark links against a default background
.navbar-default {
  box-shadow: 0 0px 4px rgba(51, 51, 51, 0.72);
	background-color: $navbar-default-brand-bg;
  	.navbar-brand {
    	color: $navbar-default-brand-color;

    	@include hover-focus {
      	color: $navbar-default-brand-hover-color;
    	}
  	}

  .navbar-nav {
    .nav-link {
      color: $navbar-default-color;

      @include hover-focus {
        color: $navbar-default-hover-color;
      }

      &.disabled {
        color: $navbar-default-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-default-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-default-color;
    border-color: $navbar-default-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-default-color;
    a {
      color: $navbar-default-active-color;

      @include hover-focus {
        color: $navbar-default-active-color;
      }
    }
  }
  .navbarDropdownUser {
    span {
      max-width: 160px;
    }
  }
}

.navbarDropdownUser {
  display: flex !important;
  align-items: center;
}
.navbarDropdownUser .nav-item-user-icon {
  margin: 0px !important;
  margin-right: .5rem !important;
}

a#navbarDropdownUser {
  padding: 0.6rem 0.5rem;
}

.logo-svg {
  width: 160px;
  &.active,
  &:hover {
    .letter__e,
    .letter__1,
    .letter__2,
    .letter__3,
    .letter__4 {
      animation-duration: .8s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  &:hover .letter__e {
    animation-name: lettere;
  }

  &:hover .letter__1 {
    animation-name: letter1;
  }

  &:hover .letter__2 {
    animation-name: letter2;
  }

  &:hover .letter__3 {
    animation-name: letter3;
  }

  &:hover .letter__4 {
    animation-name: letter4;
  }
}



@keyframes lettere {
  from {
    transform: rotate(0) translateY(0) translateX(0);
  }
  to {
    transform: rotate(10deg) translateY(-87px) translateX(17px);
  }
}

@keyframes letter1 {
  from {
    transform: translateY(0px) translateX(0px);
  }
  to {
    transform: translateY(-8px);
  }
}

@keyframes letter2 {
  from {
    transform: translateY(0px) translateX(0px);
  }
  to {
    transform: translateY(-5px) translateX(-10px);
  }
}

@keyframes letter3 {
  from {
    transform: translateY(0px) translateX(0px);
  }
  to {
    transform: translateY(0px) translateX(-12px);
  }
}

@keyframes letter4 {
  from {
    transform: translateY(0px) translateX(0px);
  }
  to {
    transform: translateY(5px) translateX(-5px);
  }
}

.nav-tabs {
  border-bottom: 2px solid #1b75bb;
  margin-top: 10px;
  .nav-link {
    padding: 10px 1rem;
    &.active {
      background: #1b75bb;
      color: #FFF;
    }
    &,
    &.active,
    &:active,
    &:hover,
    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
  }
}