body,
.sidebar-content,
.select-dropdown .dropdown-inner,
.treeMultiselect--max div.section,
.dropdown-menu .inner.show {
  &::-webkit-scrollbar {
    overflow: hidden;
    width: 8px;
    background: rgba(0, 0, 0, .2);
    /*background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);*/
  }

  &::-webkit-scrollbar-button {
   display: none;
  }

  &::-webkit-scrollbar-piece {
    background: rgba(0, 0, 0, .2);
  }

  &::-webkit-scrollbar-thumb {
    overflow: hidden;
    @include border-radius(0px);
    background: rgba($primary, .8);
  }

  &::-webkit-scrollbar-corner {
    overflow: hidden;
    background: $secondary;
  }

  &::-moz-scrollbar {
    overflow: hidden;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, .2);
  }

  &::-moz-scrollbar-button {
   display:none;
  }

  &::-moz-scrollbar-piece {
    background: rgba(0, 0, 0, .2);
  }

  &::-moz-scrollbar-thumb {
    overflow: hidden;
    @include border-radius(0px);
    background: $primary;
  }
  
  &::-moz-scrollbar-corner {
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
  }
}
