$sidebar-bg: $blue;
$sidebar-padding: 1rem;
$sidebar-width: 300px;

.sidebar {
    color: $white;
    top: 0;
    width: $sidebar-width;
    left: calc(#{$sidebar-width} * -1);
    height: 100%;
    z-index: 99999;
    position: fixed;
    background: $sidebar-bg;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-width: 100%;
    display: none;
    /*border-right: 2px solid $primary;*/
    overflow: auto;
    &#{&}--100 {
        width: 100%;
        left: 100%;
    }
    &.active {
        left: 0;
        -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }

    &__header
    {
        padding: $sidebar-padding;
        background: darken($sidebar-bg,20%);
        position: relative;
        h3 {
            margin-bottom: 0px
        }
    }

    &__close
    {
        position: relative;
        display: block !important;
        padding: .5rem 0px;
        cursor: pointer;
        &__close--2 {    
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            background: $white;
            position: absolute;
            color: darken($sidebar-bg,30%);
            top: $sidebar-padding;
            right: $sidebar-padding;
            cursor: pointer;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            box-shadow: 0px 0px 0px $gray-100;
            &:hover {
                background: $sidebar-bg;
                color: $white;
            }
        }
    }

    .nav.navbar-nav
    {
        li {
            max-width: 100%;
            overflow: hidden;
        }
        li a
        {
            padding: .8rem $sidebar-padding;
            font-size: 1rem;
            display: block;
            color: $white;
            text-transform: uppercase;
            border-bottom: 1px solid #ffffff73;
            &:hover,
            &:active,
            &.active
            {
                background: darken($sidebar-bg,10%);
                text-decoration: none;
            }
        }
        .dropdown-menu {
            float: none;
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            background: transparent;
            transform: none !important;
            margin: 0px !important;
            padding: 0px !important;
            a
            {
                padding: 1rem calc(#{$sidebar-padding} + .2rem);
            }
        }
    }
    .mCSB_vertical.mCSB_outside {
        overflow-y: scroll;
    }
    .mCustomScrollBox,
    .mCSB_container {
        box-shadow: none;
        border: none;
        outline: 0 !important;
        top: 0px !important;
    }
    
    #search-form {
        border: none;
        background-color: #521010;
        padding: 1rem 1.2rem;
        &__input
        {
            background: transparent;
            border: none;
            color: white;
        }
        &__button
        {
            color: white;
        }
    }

    &__collapse {
        background-color: lighten($primary,10%)
    }

    &__li__collapse {
        position: relative;
        & > a {
            padding-right: 1.5rem;
            &:before {
                content: ">";
                height: 13px;
                position: absolute;
                top: 1rem;
                font-size: .5rem;
                right: .5rem;
                margin: auto;
                -webkit-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
                transition-duration: 0.5s;
            }

            &.collapsed:before {
                transform: rotate(-90deg);
            }
        }
    }

  &::-webkit-scrollbar {
    overflow: hidden;
    width: 8px;
  }

  &::-webkit-scrollbar-button {
   display: none;
  }

  &::-webkit-scrollbar-piece {
    background: rgba(0, 0, 0, .2);
  }

  &::-webkit-scrollbar-thumb {
    overflow: hidden;
    @include border-radius(0px);
    background: rgba(darken($sidebar-bg,20%), .8);
  }

  &::-webkit-scrollbar-corner {
    overflow: hidden;
    background: $secondary;
  }

  &::-moz-scrollbar {
    overflow: hidden;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, .2);
  }

  &::-moz-scrollbar-button {
   display:none;
  }

  &::-moz-scrollbar-piece {
    background: rgba(0, 0, 0, .2);
  }

  &::-moz-scrollbar-thumb {
    overflow: hidden;
    @include border-radius(0px);
    background: $primary;
  }
  
  &::-moz-scrollbar-corner {
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
  }
    #navbarDropdownUser {
        align-content: end;
    }
    a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dropdown-toggle:after {
        position: absolute;
        right: 1rem;
        top: 1.2rem;
    }
    .navbar-nav {
      .dropdown-menu {
        @include box-shadow($dropdown-box-shadow);
        box-shadow: $dropdown-box-shadow;
        background-color: darken($blue, 5) !important;
      }
    }
}

#sidebar__overlay
{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    &.active {
        display: block;
        opacity: 1;
    }
}

