.page-content {
    padding-top: 49px
}
.page-wrapper,
.page-content {
    min-height: 100vh !important;
}
.page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
}
.sidebar-wrapper {
    width: 260px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 1;
    background: #FFFFFF;
    padding-top: 49px;
}
.sidebar-content {
    height: 100%;
    overflow-y: auto;
    position: relative;
}
  .slider-header {
    background: rgba(52,58,64,.7);
    border: none;
    box-shadow: none;
    padding: 11.6px 10px 10px 10px;
    color: white;
    text-align: left;
    display: grid;
    grid-template-columns: 30px auto;
    grid-gap: 10px;
  }
@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 260px;
    }
    .sidebar-wrapper .sidebar-menu ul li a {
        padding-bottom: 12px;
        padding-top: 12px;
    }
    .sidebar-navbar-menu {
        min-width: 230px;
    }
}
.page-wrapper .page-content {
    overflow-x: hidden;
}
.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}
 .sidebar-wrapper .sidebar-dropdown {
    li {
        border-bottom: 1px solid #dee2e6
    }
    &.active {
        & > a {
            box-shadow: 0px 9px 14px #ccc;
            // background: #f8f9fa;
        }
    }
}
.page-wrapper .sidebar-wrapper, .sidebar-wrapper .sidebar-brand > a, .sidebar-wrapper .sidebar-dropdown > a:after, .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before, .sidebar-wrapper ul li a i, .page-wrapper .page-content, .sidebar-wrapper .sidebar-search input.search-menu, .sidebar-wrapper .sidebar-search .input-group-text, .sidebar-wrapper .sidebar-menu ul li a, #show-sidebar, #close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.chiller-theme .sidebar-wrapper .sidebar-header, .chiller-theme .sidebar-wrapper .sidebar-search, .chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #3a3f48;
}
.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role, .chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status, .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu, .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text, .chiller-theme .sidebar-wrapper .sidebar-brand>a, .chiller-theme .sidebar-wrapper .sidebar-menu ul li a, .chiller-theme .sidebar-footer>a {
    color: #818896;
}
.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 15px;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
}
.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 5px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    position: relative;
    top: 3px;
}
.sidebar-wrapper .sidebar-menu ul li a i.position {
    top: 0px;
}

.page-wrapper .sidebar-wrapper, .sidebar-wrapper .sidebar-brand > a, .sidebar-wrapper .sidebar-dropdown > a:after, .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before, .sidebar-wrapper ul li a i, .page-wrapper .page-content, .sidebar-wrapper .sidebar-search input.search-menu, .sidebar-wrapper .sidebar-search .input-group-text, .sidebar-wrapper .sidebar-menu ul li a, #show-sidebar, #close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i, .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div, .chiller-theme .sidebar-wrapper .sidebar-search input.search-menu, .chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #3a3f48;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
    background: #f8f9fa;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0 0 5px;
}
.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 15px;
    font-size: 13px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 17px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
    content: "\F107";
    font: normal normal normal 14px/1 FontAwesome;
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
}
.sidebar-wrapper .sidebar-menu .header-menu {
    background: #f8f9fa;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 15px;
    font-size: 1rem;
    display: block;
    opacity: .4;
}
.sidebar-navbar-menu {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-gap: 10px;
    padding: 3px 0px;
}
.sidebar-navbar-menu #toggled-sidebar {
    padding: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    outline: none;
}
.sidebar-navbar-menu #toggled-sidebar {
    fill: white;
}

// UL.MENU DEL SLIDER
ul.menu > li > a {
  padding-left: 10px !important;
}
ul.menu > li > ul {
  box-shadow: rgb(173, 181, 189) 5px 0px 0px 0px inset;
  background: #f8f9fa;
  transition: all 0.5s ease 0s;
}
ul.menu > li > ul > li > ul {
  /*box-shadow: rgb(173, 181, 189) 10px 0px 0px 0px inset;*/
  background: #e9ecef69;
}
ul.menu > li > ul > li > a {
  padding-left: 15px !important;
}
ul.menu > li > ul > li > ul > li a {
  padding-left: 25px !important;
}
ul.menu > li > ul > li > ul a.active {
  box-shadow: inset 5px 0px 0px 0px #1b75bb;
}
ul.menu li a {
  color: rgba(52,58,64,.8) !important
}
ul.menu a.active {
  color: #333 !important;
  box-shadow: inset 5px 0px 0px 0px #1b75bb;
}

.menu li.separation {
    border-top: 2px solid #ccc;
}
.menu li a .icon {
    display: inline-block;
}
.menu > li > a .icon {
    background: #717579;
    padding: 4px 6px 1px 6px;
    color: #ffffff;
    border-radius: 3px;
    transition: .5s;
}
.menu > li.active > a .icon,
.menu > li > a:hover .icon {
    background: #1B75BB;
}
.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 0px;
}
.menu > li > a i {
    color: #ffffff;
}
.menu ul > li > a i {
    display: none;
}
