@charset "UTF-8";

@font-face {
  font-family: "oenergy";
  src:url("fonts/oenergy.eot");
  src:url("fonts/oenergy.eot?#iefix") format("embedded-opentype"),
    url("fonts/oenergy.woff") format("woff"),
    url("fonts/oenergy.ttf") format("truetype"),
    url("fonts/oenergy.svg#oenergy") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "oenergy" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "oenergy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cargar-data:before {
  content: "\61";
}
.icon-cuadros-pago:before {
  content: "\62";
}
.icon-facturas:before {
  content: "\63";
}
.icon-operaciones:before {
  content: "\64";
}
.icon-dashboard:before {
  content: "\65";
}
.icon-phone:before {
  content: "\66";
}
.icon-maker:before {
  content: "\67";
}
.icon-twitter:before {
  content: "\68";
}
.icon-whatsapp:before {
  content: "\69";
}
.icon-list:before {
  content: "\6a";
}
.icon-avatar:before {
  content: "\6b";
}
.icon-box:before {
  content: "\6c";
}
.icon-facebook:before {
  content: "\6d";
}
.icon-users-outline:before {
  content: "\6f";
}
.icon-enter:before {
  content: "\70";
}
.icon-email-mail-streamline:before {
  content: "\71";
}
.icon-question-circle-1:before {
  content: "\72";
}
.icon-question-circle:before {
  content: "\73";
}
.icon-check-circle:before {
  content: "\74";
}
.icon-pagos:before {
  content: "\76";
}
.icon-pmrte:before {
  content: "\6e";
}
.icon-asesor-tecnico:before {
  content: "\77";
}
.icon-balance-energia:before {
  content: "\78";
}
.icon-comercializacion:before {
  content: "\79";
}
.icon-reportes:before {
  content: "\7a";
}
.icon-scada-web:before {
  content: "\41";
}
.icon-graficos:before {
  content: "\75";
}
