@import "~tail.select/css/bootstrap4/tail.select-primary.min.css";

.tail-select .select-dropdown ul li{
    padding: 0rem 0rem 0rem 1rem !important;
}
.tail-select .select-dropdown ul li:first-of-type{
    margin-top: 0rem !important;
}
.tail-select .select-dropdown ul li.dropdown-option:before {
	width: 16px !important;
	height: 24px !important;
}
.tail-select .select-label {
	background-image: none;
	background-color: #3d82cd;
	border-color: #327ccb;
	background-position: center right 0.2rem;
	background-size: 7px 13px;
	padding: 0 20px 0 0;
}

.tail-select:before {
  content: "\F107";
  font: normal normal normal 14px/1 FontAwesome;
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  position: absolute;
  z-index: 1;
  color: white;
  right: 10px;
  top: 14px;
  transition: .4s all;
  pointer-events: none;
}
.tail-select.active:before {
	transform: rotate(-180deg);
}

.tail-select.disabled {
  opacity: .5;
  cursor: not-allowed;
}