/* Auth */

.auth {
	background: url("#{$usa-image-path}auth/bg.jpg");
	background-size: cover;
	background-color: $blue;
	background-repeat: none;
  min-height: 100%;
  .row-center {
      min-height: 100vh;
      align-items: center;
  }
	&.theme-one {
		.auto-form-wrapper {
			background: $white;
			padding: 2rem;
			@include border-radius(4px);
			box-shadow: 0px 1px 7px 2px rgba(46, 46, 46, 0.31);
			.form-group {
				.input-group {
					height: 44px;
					.form-control {
						border: 1px solid darken($border-color, 5%);
						@include border-radius(6px);
						&:focus {
							border-right: none;
							border-color: darken($border-color, 5%);
						}
					}
					.input-group-append {
						border-left: none;
						.input-group-text {
							@include border-radius(0 6px 6px 0);
							border-left: none;
							border-color: darken($border-color, 5%);
							color: #b6b6b6;
						}
					}
				}
				button {
					line-height: 1;
					font-size: 13px;
					padding: 12px 8px;
					font-weight: 600;
				}
			}
			.g-login {
				border: 1px solid $border-color;
				padding: 13px;
				font-size: 12px;
				font-weight: 600;
				background: transparent;
			}
		}
		.auth-footer {
			list-style-type: none;
			padding-left: 0;
			margin-top: 20px;
			margin-bottom: 10px;
			/*@include display-flex;*/
			/*@include justify-content(center);*/
			li {
				margin-right: 10px;
				line-height: 1;
				padding-right: 10px;
				border-right: 1px solid rgba(255, 255, 255, 0.4);
				&:last-child {
					margin-right: 0;
					border-right: none;
				}
				a {
					font-size: 13px;
					color: rgba(255, 255, 255, 0.4);
				}
			}
			@include media-breakpoint-down(sm) {
				/*@include justify-content(center);*/
			}
		}
	}

	.alert__text {
		font-size: .8rem;
		font-weight: 100
	}
}